body{
    background-color: #0C1A26;
}
.tituloEntregas{
    background-color: #F2D64B;
    border-radius: 10px;
    padding: 3px 10px;
}

.navbar{
    background-color: #F2D64B;
    color:#0C1A26;
    height: 60px;
}
.infoEntrega{
    padding: 10px;
}
.entrega{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
#imagenNavbar1{
    width: 30px;
}
#saludo{
    margin-top: 30px;
    color: #ffffff;
    display: flex;
	flex-direction: column;
    flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.btn-close{
    background-color: #F2D64B;
}
.offcanvas{
    background-color: #F2D64B;
    color: #0C1A26!important;
   
}

.nav-link{
    color: #0C1A26;
}

.hipervinculo{
    color: #0C1A26;
    font-size: 8px;
}

#imagenOffcanvas1{
    width: 200px;
}



.cerrar{
    background-color: #F2D64B;
}

.navbar-toggler {
    border: var(--bs-border-width) solid rgba(255, 255, 255, 0);
    color: #0C1A26;
}

