@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

button{
    border-color: #F2D64B;
}
.contUnAtribulo{
    background-color: #8C4820;
    margin: 8px;
    padding:0px 8px;
    height: 35px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-between;
	align-items: baseline;
	align-content: stretch;
    color: #ffffff;
    font-size: 14px;
}
.botonOrdenes{
    background-color: #0C1A26;
    border: var(--bs-border-width) solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    height: 30px;
    color: #ffffff;
    margin: 5px;
}
.imgPizza{
    width: 35px;
}
#infoPerfil{
    width: 95%;
    margin-bottom: 200px;
}
.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#centrarEntregas{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    margin-top: 15px;
}
#pendientes{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    margin-top: 10px;
}
#centrarRealizadas{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    margin-top: 10px;
}
body {
    font-family: 'Inter', sans-serif!important;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    font-size: 20px; 
}

.contentEntregas{
    background-color: #ffffff;
    border-radius: 12px;
    font-size: 12px;
    width: 85%;
    color: #0C1A26;
}
.masOpciones{
    display: grid;
    grid-template-columns: 1fr 1fr; 

}
.btn-entregas {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    background-color: #8C4820;
    border-radius: 12px;
    font-size: 12px;
    width: 130px;
    height: 100px;
    color: #ffffff;
}
.btn-inicio {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    background-color: #8C4820;
    border-radius: 5px;
    font-size: 12px;
    width: 150px;
    height: 40px;
    color: #ffffff;
}
.ayuda{
    font-size: 10px;
}

.btn-pendientes {
    padding: 8px;
    background-color: #6D53A6;
    color: #ffffff;
    border: 0;
    border-radius: 8px;
    font-size: 13px;
}

#entregas{
    margin-top: 70px;
}

